/* 
  Mobile styles
  Max width: 768px
*/

@media (max-width: 768px) {

main {
  width: 100%;
}

body {
  line-height: 1.6em;
  margin: 0;
}

.site-header {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.site-title {
  font-size: 2.6rem;
  padding-right: 0;
  text-align: center;
  letter-spacing: normal;
  margin-left: 0;
}

.nav-head ul {
  margin-right:0;
}

.nav-head li{
  padding: 0 30px;
  margin-right:0;
}

.hero {
  max-height: 300px;
}

.hero-text {
  width: 100%;
  border-radius: 0;
  left: 0;
  transform: translate(0, -50%); 
  min-width: auto;
}

.hero-text h1 {
  font-size: 1.8rem;
  letter-spacing: normal;
}

.hero-text p {
  font-size: 1rem;
}

/********** Home Page *** Blog Page *************/ 

.featured-posts-container, .blog-preview-container {
  flex-direction: column;
  margin: 0 3vw;
}

.index-blog-preview, .blog-preview {
  width: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.index-bp-img, .bp-img {
  max-width: 90vw;
}

.index-bp-article h3, .bp-article h3 {
  text-align: left;
  margin-top: 10px;
}

.index-bp-article {
  text-align: left;
}

.bp-article {
  text-align: left;
  margin: 0;
}

/*** ABOUT ****/

.main-about {
  margin: 3vh 4vw;
  text-align: left;
}

/* BLOG POST */
article {
  margin: 3vh 4vw;
  text-align: left;
}

.article-img {
  float: none;
  display: block;
  max-width: 90vw;
  margin: auto;
}

.house-plant-name {
  text-align:left;
}

.house-plant-box {
  flex-direction: column;
  align-items: center;
}

.house-plant-img {
  max-height: 300px;
  width: auto;
}

.house-plant-description {
  padding-left: 0;
  margin-left: 0;
  border-left: none;
}

.house-plant-description p:first-of-type,
.house-plant-description > :last-child,
.article-intro > :last-child  {
  margin: 10px 0;
}

/************* You might also like *************/

.related-posts {
  margin: 0;
}

.related-posts h4 {
  text-align: center;
}

.related-posts ul {
  padding: 0;
  text-align: left;
}

.related-posts img {
  margin-right: 3vw;
}

/***** FOOTER *****/

footer {
  flex-direction: column;
}

.nav-footer li{
  padding: 0 30px;
}










    
}